.delete-input {
    width: 25%;
    margin-left: 15px;
    margin-bottom: 25px;
}

.error-ic {
    position: relative;
    left: 35%;
}

.error-text {
    text-align: center;
    font-size: larger;
    font-weight: 500;
    padding-left: 12px;
}